
code {
  font-family: "Lucida Console", 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre code {
  font-family: Consolas, "Lucida Console", Monaco, 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
body{
  font-family: "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN","Hiragino Sans GB","Microsoft YaHei";
}